<!DOCTYPE html>
<html>
<head>
    <title>Add Product</title>
</head>
<body>

<h2>Add Product</h2>

<form method="POST">

    <input
        type="text"
        id="name"
        name="name"
        placeholder="Product Name"
        required>

    <br><br>

    <input
        type="text"
        id="category"
        name="category"
        placeholder="Product Category"
        required>

    <br><br>

    <br><br>

    <input
        type="number"
        id="price"
        name="price"
        placeholder="Product Price">

    <br><br>

    <input
        type="text"
        id="image"
        name="image"
        placeholder="Image filename (example: guitar.jpg)">

    <button
        type="submit"
        id="saveProductBtn">

        Save Product

    </button>

</form>

</body>
</html>